{% include "header.html" %}
{% block content %}      
{% load crispy_forms_tags %}
  
<!--Login--> 
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animes</title>
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

  

<br>
  <div class="row justify-content-md-center">
  <div class="col-auto">
    <h2>Login</h2>
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-danger" type="submit">Login</button>
  </form>
</div>
</div>
<br>
  <p class="text-center"><a href="/register">Create an account</a></p>
  
  <p class="text-center"><a href="/password_reset">Forgot my password</a> </p>

{% endblock %}