{% extends 'base.html' %}
{% block content %}

{% load crispy_forms_tags %}  

<!--Navbar-->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/">My Animes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:search' %}">Search</a>
        </li>
       
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:logout' %}">Logout</a>
        </li> 
      </ul>
    </div>
</nav>
<!--User-->
<br><br>
<div class="container mx-auto">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-3 pb-4">
            <div class="card p-4">
                <h4 class="card-title font-weight-bold text-center">Hello, {{ user.username }}</h4>
                  <hr>
                <div class="card-text">
                    <p class="text-muted mb-0" style="font-size: 12px">Username:</p>
                    <p>{{ user.username }}</p>
                    <p class="text-muted mb-0" style="font-size: 12px">Email:</p>
                    <p>{{ user.email }} </p>
                </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-9 pb-4">
            <div class="row">
                <div class="col-6 my-auto">
                    <h2 class="font-weight-bold pt-4">Favorite Animes</h2>
                </div>
                
            </div>
              <br>
              <div class="row">
                  {% for favorite in user.profile.favorites.all %}
                  <form method="POST">
                  {% csrf_token %}
                  <input type="hidden" value="{{ favorite.pk }}" name="favorite_id">
                  <button type="submit" class="btn btn-outline-danger" style="font-size:8px; border-radius: 50%">X</button>
                    <div class="col-sm-12 col-md-6 col-lg-4 pb-4">
                        <div class="h-100">
                            <img src="{{ favorite.image }}" class="card-img-top" alt="{{ favorite.title }}" style="width: auto; height: 225px; object-fit: scale-down;">
                            <div class="card-body">
                                  <h5 class="card-title">{{ favorite.title }}</h5>
                                <p class="card-text text-muted" style="font-size:12px">Episodes: {{ favorite.episodes }}</p>
                            </div>
                          </div>
                    </div>
                </form>
                {% endfor %}
            </div>
        </div> 
    </div>

<!--Edit user modal-->
...

{% endblock %}