{% extends 'base.html' %}
    {% block content %}

	{% load crispy_forms_tags %}  

<!--User-->
<br><br>
<div class="container mx-auto">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-3 pb-4">
            <div class="card p-4">
                <h4 class="card-title font-weight-bold text-center">Hello, {{ user.username }}</h4>
                  <hr>
                <div class="card-text">
                    <p class="text-muted mb-0" style="font-size: 12px">Username:</p>
                    <p>{{ user.username }}</p>
                    <p class="text-muted mb-0" style="font-size: 12px">Email:</p>
                    <p>{{ user.email }} </p>
                </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-9 pb-4">
            <div class="row">
                <div class="col-6 my-auto">
                    <h2 class="font-weight-bold pt-4">Favorite Animes</h2>
                </div>

                
            </div>
              <br>
              <div class="row">
                  {% for a in user.profile.animes.all %}
                    <div class="col-sm-12 col-md-6 col-lg-4 pb-4">
                        <div class="h-100">
                            <img src="{{ a.anime_image.url }}" class="card-img-top" alt="{{ a.anime_title }}" style="width: auto; height: 225px; object-fit: scale-down;">
                            <div class="card-body">
                                  <h5 class="card-title">{{ a.anime_title }}</h5>
                                <p class="card-text text-muted" style="font-size:12px">{{ a.anime_episodes }}</p>
                            </div>
                          </div>
                    </div>
                {% endfor %}
            </div>
        </div> 
    </div>
</div>

{% endblock %}