{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<html>
<!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Anime Search</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:profile' %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Welcome, {{user.username}}</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:logout' %}">Logout</a>
        </li> 
      </ul>
    
        {% else %}
      <ul>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary" href="/register">Register</a>
        </li>

        {% endif %}
      </ul>
    </div>
  </nav>

<!--Body-->
  <body>
    <div class = "container">
      <div class = "text-center container">
        <br>
        <h2 class = "text-center">Search for your favorite animes</h2> 
        <br>
        <form action='search' method="POST">
          {% csrf_token %}
          <input type="text" name="search" placeholder="Search..." class = "text-center">
          <button type="submit" class = "btn-danger btn-sm">Search</button>
        </form>
      </div> 
      <br><br>
      {% if animes %}
      <div class="card-deck align-items-center">
      <div class="row row-cols-4 row-cols-md-3 d-flex justify-content-center">
        {% for anime in animes %}
      <form method="post">
        {% csrf_token %}
          <div class=row>
          <div class="col-md-15">
            <div class="col-auto">
            <div class="card bg-light mb-3">
              <div class="card-body text-center">
                <p class="card-title"> <b>{{anime.Title}}</b></p>
                <hr>
                <p class="card-text">Episodes: <b>{{anime.Episodes}}</b></p>
                <img src = {{anime.Image}} />
                {% if user.is_authenticated %}
                <br><br>
              <input type="hidden" value="{{anime.Id}}" name="anime_id">
              <button type="submit" class="btn btn-outline-danger" style="font-size:18px; border-radius: 50%">★</button>
            </div>
          </div>
        </div>
      </div>
    </div>
        {% endif %}                              
      </form>

    {% endfor %}
    {% endif %}
    
    {% endblock %}
  </body>